<div>
    <table class="table">
        <thead>
        <th class="th">Index</th>
        <th class="th">User Id</th>
        <th class="th">Firts Name</th>
        <th class="th">Last Name</th>
        <th class="th">Sex</th>
        <th class="th">Email</th>
        <th class="th">Phone</th>
        <th class="th">Date Of Birth</th>
        <th class="th">Job Title</th>
        <th class="th">Edit/Delete</th>
        </thead>
        <tbody>

            <tr>
                @{
                    while (Model.Count != 0)

                    {

                        var person = Model.removeFim();
                    <tr>
                        <td class="td">1</td>
                        <td class="td">@person.UserId</td>
                        <td class="td">@person.FirstName</td>
                        <td class="td">@person.LastName</td>
                        <td class="td">@person.Sex</td>
                        <td class="td">@person.Email</td>
                        <td class="td">@person.Phone</td>
                        <td class="td">09/06/1954</td>
                        <td class="td">@person.JobTitle</td>
                        <td>
                            <button type="button" id="edit">Edit</button><button type="button" id="delete">
                                Delete
                            </button>
                        </td>

                    </tr>
                    }
                }
            </tr>

        </tbody>
    </table>
</div>