<div>
    <table class="table">
        <thead>
        <th class="th">Index</th>
        <th class="th">User Id</th>
        <th class="th">Firts Name</th>
        <th class="th">Last Name</th>
        <th class="th">Sex</th>
        <th class="th">Email</th>
        <th class="th">Phone</th>
        <th class="th">Date Of Birth</th>
        <th class="th">Job Title</th>
        <th class="th">Edit/Delete</th>
        </thead>
        <tbody>

            <tr>
                @{
                    int i = 0;
                    while (Model.LIST.Count != i)

                    {

                        var person = Model.LIST[i]; //indexamos nossa lista, logo, isso  é possivel 
                        i++;
                        <tr>
                        <td class="td">@i</td>
                        <td class="td">@person.UserId</td>
                        <td class="td">@person.FirstName</td>
                        <td class="td">@person.LastName</td>
                        <td class="td">@person.Sex</td>
                        <td class="td">@person.Email</td>
                        <td class="td">@person.Phone</td>
                        <td class="td">09/06/1954</td>
                        <td class="td">@person.JobTitle</td>
                        <td>
                            <a type="button" id="edit" asp-controller="Home" asp-action="UpdatePage" asp-route-id="@Model.page?@person.UserId">Edit</a>
                            <a type="button" id="delete" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.page?@person.UserId"> Delete </a>

                        </td>
                        

                    </tr>
                    }
                }
            </tr>
            
        </tbody>
    </table>
</div>