<div id="PaginaLeitura">
    <div class="container">
        <div class="Ordenadores">
            <h2>Ordenar por:</h2>
            <div class="sortDiv">
                <a type="button" id="sort" asp-controller="Home" asp-action="Ordenar"
                   asp-route-id="@Model.page?FirstName">FirstName <i class="bi bi-list-ul"></i></a>
                <a type="button" id="sort" asp-controller="Home" asp-action="Ordenar"
                   asp-route-id="@Model.page?LastName">LastName</a>
                
            </div>
        </div>
        <div class="pesquisa">
            <form asp-action="Read" asp-route-id=@Model.page class="formulario">
                <div>
                <label for="value">Pesquisa </label>
                <input name="value" type="text" />


                <select name="valueType">

                    <option value="UserId">User ID</option>
                    <option value="email">Email</option>
                </select>

                </div>
                <input type="submit" name="name" value="Confimar" />

            </form>
    </div>
    </div>

    <table class="table">
        <thead>
        <th class="th">Index</th>
        <th class="th">User Id</th>
        <th class="th">Firts Name </th>
        <th class="th">Last Name</th>
        <th class="th">Sex</th>
        <th class="th">Email</th>
        <th class="th">Phone</th>
        <th class="th">Date Of Birth</th>
        <th class="th">Job Title</th>
        <th class="th">Edit/Delete</th>
        </thead>
        <tbody>

            <tr>
                @{
                    
                    var celula = Model.LIST.primeiro.prox;
                    while (celula!=null)

                    {
                        var person = celula.value;
                        celula = celula.prox;
                     
                    <tr>
                        <td class="td">@person.Index</td>
                        <td class="td">@person.UserId</td>
                        <td class="td">@person.FirstName</td>
                        <td class="td">@person.LastName</td>
                        <td class="td">@person.Sex</td>
                        <td class="td">@person.Email</td>
                        <td class="td">@person.Phone</td>
                        <td class="td">@person.DateOfBirth.ToString("yyyy-MM-ddTHH").Remove(10, 3)</td>
                        <td class="td">@person.JobTitle</td>
                        <td>
                            <a type="button" id="edit" asp-controller="Home" asp-action="UpdatePage" asp-route-id="@Model.page?@person.UserId">Edit</a>
                            <a type="button" id="delete" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.page?@person.UserId"> Delete </a>

                        </td>


                    </tr>
                    }
                }
            </tr>

        </tbody>
    </table>
</div>
